.pricing-header {
  margin-top: 2em;
  margin-bottom: 3em;
  text-align: center;
}
.pricing-header h1 {
  margin-bottom: .65em;
  font-size: 42px;
  font-weight: 800;
}
.pricing-header h2 {
  color: #333;
  font-size: 22px;
  font-weight: 600;
}
.pricing-header h3 {
  color: #999;
  font-size: 20px;
  font-weight: 400;
}
.pricing-header h4 {
  color: #999;
  font-size: 16px;
  font-weight: 400;
}